:root {
    --mainBannerHeight: 3vw;
    --sideBannerHeight: 4vw;
    --bannerGap: calc(var(--sideBannerHeight) - var(--mainBannerHeight))

    
}



body {
    font-family: komet, sans-serif;
    overflow-x: hidden;
}

.mainbanner h1 {
    margin:0;
    font-weight:900;
    font-size: 2.5vw;
    
    text-align: center;
    vertical-align: middle;
    text-wrap: nowrap;
}


.headroom {
    display:flex;
    justify-content: space-between;
    width:100%;
    height: var(--mainBannerHeight);
    background-color: black;
    color:white;
    text-align: center;
    margin-bottom: var(--bannerGap);
    z-index: 200;
    top:0;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-140%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }

.headroom-wrapper {
    background-color: black;
}


.mainbanner {
    position: relative;
    width: auto;
}

.sidebanner {
    position: relative;
    display: flex;
    align-items: center;
    width:14vw;
    height: var(--sideBannerHeight);
    background-color: rgb(49, 49, 49);
    cursor: pointer;
    color:white;
    border:none;

    text-decoration: none;
}

.leftbanner {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

.rightbanner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

.sidebanner:hover {
    background-color: maroon;
}

.sidebanner h2 {
    position: relative;
    margin:0;

    width:auto;
    text-wrap: nowrap;
    font-size: 1.8vw;
    text-align: center;

}

.leftbanner h2 {
    position: absolute;
    left:1vw;
}

.rightbanner h2 {
    position: absolute;
    right:1vw;
}

/* @media (max-width: 480px) {
    .mainbanner h1 {
        font-size: 3vh;
        text-align: center;
        vertical-align: middle;
    }
} */