:root {
    --showcaseWidth: 1920px; /* Default: 1920px, value handled in Showcase Component*/
    --showcaseHeight: 1080px; /* Default: 1080px, value handled in Showcase Component*/
    --showcasePanelWidth: 640px; /* Default: 640px, value handled in Showcase Component*/
}

.showcase {
    display:flex;
    justify-content: space-evenly;
    width: var(--showcaseWidth);
    height:var(--showcaseHeight);
    background-color: black;
}

.showcasepanel {
    position: relative;
    box-sizing: border-box;
    width: var(--showcasePanelWidth);
    height: var(--showcaseHeight);
    background-color: black;
    border:none;

    overflow: hidden;
}

.showcasepanel img {
    margin-left:50%;
    transform: translateX(-50%);
    height:100%;
    z-index: -100;
    filter:grayscale();
    transition: .5s;
    color:white;
}

.showcasepanel img:hover{
    filter: blur(10px);
    transition: .5s;
    cursor: pointer;
}

.showcaseText {
    opacity: 0%;
    position: absolute;
    
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    pointer-events: none;

    color:white;
    filter: drop-shadow(.3vw .3vw rgba(0, 0, 0, 0.5));
    text-wrap: balance;
}

.showcasepanel:hover .showcaseText {
    opacity: 100%;
    transition: .75s;
}