:root {
    --showcaseWidth: 1920px; /* Default: 1920px, value handled in Showcase Component*/
    --showcaseHeight: 1080px; /* Default: 1080px, value handled in Showcase Component*/
    --showcasePanelWidth: 640px; /* Default: 640px, value handled in Showcase Component*/
}

.showcase {
    display:flex;
    justify-content: space-evenly;
    width: var(--showcaseWidth);
    height:var(--showcaseHeight);
    background-color: black;
    /* margin-top: calc(var(--mainBannerHeight)) */
}

.showcasepanel {
    box-sizing: border-box;
    width: var(--showcasePanelWidth);
    height: var(--showcaseHeight);
    background-color: black;

    overflow: hidden;
}

.showcasepanel img {
    margin-left:50%;
    transform: translateX(-50%);
    height:100%;
    z-index: -100;
    filter:grayscale();
    transition: .5s;
}

.showcasepanel img:hover{
    filter: none;
    transition: .5s;
    cursor: pointer;
}

.test { 
    height :2000px;
    width:50px;
    background-color: purple;
}