.workpagecontainer {
    display: flex;
    justify-content: center;
    width:100%;
    height: auto;
    
    background-image: url("/public/images/background.png");
    background-size: 25vw;
    
}

.workpage {
    box-sizing: border-box;
    /* position: absolute;
    transform: translate(-50%,0);
    left:50%; */

    background-color: #4B4F5B;
    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 40%));
    width:50vw;
    height:auto;
    margin-bottom: 2vw;
    padding: 4vw;
    padding-top: 3vw;
    padding-bottom: 1vw;

    color:white;
    font-size: 1vw;

}

.workpage h1{
    font-size: 1.75vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .8vw;
}

.imagegallery {
    position: relative;
    margin-bottom: 2vw;
}

.imagegallery .mainimage{
    box-sizing: border-box;
    width:60%;
    aspect-ratio: 16/9;
    border: .1vw black solid;
    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 40%));
}


.imagegallery .mainimagecontainer{
    width:100%;
    height: auto;
}

.imagescroller {
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
    margin-top:1vw;
}

.imagescroller button{
    width:1.5vw;
    height: 1.5vw;

    border:none;
    border-radius: 100%;
    cursor: pointer;
    font-size: .8vw;
    filter: drop-shadow(.2vw .2vw rgba(0, 0, 0, 30%));
}

.smallimagecontainer {
    position: relative;
    width:6vw;
    aspect-ratio: 16/9;
    margin: 0 1vw 0 1vw;
    filter: drop-shadow(.2vw .2vw rgba(0, 0, 0, 30%));

    border: .15vw transparent solid;
}

.imagescroller .smallimagecontainer .smallimage {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

}

.material-symbols-outlined {
    position: absolute;
    z-index: 1;

    transform: translate(-50%,-50%);
    left:50%;
    top:50%;

    font-size: 3vw;
    opacity: 70%;

    pointer-events: none;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

}

.imagescroller .smallimagecontainer:hover, .imagescroller .gallerybtn:hover {
    transform: translate(-.1vw,-.1vw);
    filter: drop-shadow(.3vw .3vw rgb(0, 0, 0, 30%));
    transition: .2s;
}

.selectedimage {
    border:.15vw white solid;
}

.workpagedescription {
    padding:1vw;
    height: auto;
    min-height: 400px;
}

.workpagedescription p{
    margin: 1vw 0 1vw 0;
    font-size: 1vw;
}

.workpagedescription img {
    width:80%;
}

.workpagedescription iframe {
    width:80%;
    aspect-ratio: 16/9;
    border: none;
}