.workpagecontainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    min-height: calc(100vh - var(--mainBannerHeight));
/*     
    background-image: url("/public/images/background.png");
    background-size: 25vw;
     */
     
    box-sizing: border-box;
    /* position: absolute;
    transform: translate(-50%,0);
    left:50%; */


    color:white;
    font-size: 1vw;
    background-color: black;
    
}

.workpagesection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4B4F5B;

    padding: 0 0 .5vw 0;

}

.dark {
 background-color: #0e0e0e;
}

.med {
    background-color: #444444;
}

.light {
    background-color: #6d6d6d;
}

.workpagecontent {
    width:50vw;
    
}

.imagesection h1{
    font-size: 1.75vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .8vw;
}

.imagegallery {
    display:flex;
    flex-direction: column;

    position: relative;
    margin-bottom: 2vw;
}

.imagegalleryinfobox {
    display:flex;
}

.worksectionimages {
    width:60%;
}

.imagegallery .mainimage{
    box-sizing: border-box;
    aspect-ratio: 16/9;
    border: .1vw black solid;
    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 40%));
}


.imagegallery .mainimagecontainer{
    display:flex;
    justify-content: center;

    width:100%;
    height: auto;
}

.imagescroller {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1vw;
}

.imagescroller button{
    width:1.5vw;
    height: 1.5vw;

    border:none;
    border-radius: 100%;
    cursor: pointer;
    font-size: .8vw;
    filter: drop-shadow(.2vw .2vw rgba(0, 0, 0, 30%));
    color:white;
    background-color: transparent;
}

.imagescroller button svg {
    position: absolute;
    z-index: 1;

    transform: translate(-50%,-50%);
    left:50%;
    top:50%;

    width:1vw;

    font-size: 1.2vw;
}

.imagescroller .imageleft {
    transform: scaleX(-1);
}

.imagescroller button:hover {
    background-color: rgb(34, 34, 34);
    transition: .2s;
}

.smallimagecontainer {
    position: relative;
    width:6vw;
    aspect-ratio: 16/9;
    margin: 0 1vw 0 1vw;
    filter: drop-shadow(.2vw .2vw rgba(0, 0, 0, 30%));
    
    border: .15vw transparent solid;
}

.imagescroller .smallimagecontainer:hover {
    transform: translate(-.1vw,-.1vw);
    filter: drop-shadow(.3vw .3vw rgb(0, 0, 0, 30%));
    transition: .2s;
}

.imagescroller .smallimagecontainer .smallimage {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

}

.playcircle {
    
    position: absolute;
    z-index: 1;

    transform: translate(-50%,-50%);
    left:50%;
    top:50%;

    font-size: 3vw;
    opacity: 70%;

    pointer-events: none;
}


.selectedimage {
    border:.15vw white solid;
}

.imagesection {
    display:flex;
    flex-direction: column;
}

.infoboxcontainer {
    display:flex;
    flex-direction: column;

    width: 40%;
    height: 100%;

    border-left:.1vw white solid;
}

.infoboxsection {
    padding:.2vw;
    margin:.2vw;
}

.infotitle {
    width:100%;
    text-transform: uppercase;
    font-weight: bolder;
}

.infodata {

}

.infoboxdownload {
    width: fit-content;

    padding: .3vw;

    margin:.2vw;
    margin-top:1vw;
    margin-left:.4vw;
    font-size: 1vw;
    background-color: mar;
    border: none;
    border-radius: .2vw;
    font-weight: bolder;
    background-color: rgb(56, 56, 56);
    color:white;
}

.infoboxdownload:hover {
    background-color: rgb(116, 116, 116);
    transition: .2s;
}


/* WORK PAGE DESCRIPTIONS */

.workpagecontent p{
    margin: 1vw 0 1vw 0;
    font-size: 1vw;
}

.workpagecontent h1 {
    font-size: 1.5vw;
    margin: .2vw 0 .2vw 0;
}

.workpagecontent h2 {
    font-size: 1.25vw;
    margin: .1vw 0 .1vw 0;
}

.workpagecontent img {
    width:80%;
}

.workpagecontent iframe {
    width:80%;
    aspect-ratio: 16/9;
    border: none;
}